html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.navbar-btn {
  font-size: 12px;
  color: #777;
  border-radius: 2px;
  text-transform: uppercase; }

nav.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white; }
  nav.navbar a.navbar-brand {
    font-size: 16px;
    font-weight: bold; }
    nav.navbar a.navbar-brand:hover {
      color: #427DCA; }
  nav.navbar ul.navbar-nav {
    font-size: 12px; }
    nav.navbar ul.navbar-nav li {
      margin-right: 4px; }
      nav.navbar ul.navbar-nav li:last-child {
        margin-right: 0; }
      nav.navbar ul.navbar-nav li a {
        text-transform: uppercase; }
    nav.navbar ul.navbar-nav a:hover, nav.navbar ul.navbar-nav a:focus {
      color: #777; }
    nav.navbar ul.navbar-nav a:hover {
      background-color: white;
      border-bottom: 2px solid #E7E7E7;
      padding-bottom: 13px; }
    nav.navbar ul.navbar-nav .active > a {
      color: #427DCA;
      background-color: white;
      border-bottom: 2px solid #427DCA;
      padding-bottom: 13px; }
      nav.navbar ul.navbar-nav .active > a:hover, nav.navbar ul.navbar-nav .active > a:focus {
        color: #427DCA;
        background-color: white; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #427DCA; }

body {
  margin-top: 50px;
  padding: 25px; }

#signup-panel {
  width: 300px;
  margin: 0 auto;
  border-radius: 1px;
  border: 1px solid #E7E7E7; }
  #signup-panel input {
    border: 1px solid #E7E7E7;
    border-radius: 1px;
    box-shadow: none;
    font-size: 12px;
    color: #777;
    margin-bottom: 6px; }
    #signup-panel input:last-of-type {
      margin-bottom: 24px; }
    #signup-panel input:focus {
      border: 1px solid #D9EDF7; }
  #signup-panel .btn-submit {
    width: 100%;
    font-size: 12px;
    border: 1px solid #E7E7E7;
    text-transform: uppercase;
    color: #427DCA;
    border-radius: 1px; }
    #signup-panel .btn-submit:hover {
      border: 1px solid #D9EDF7;
      background-color: white; }
  #signup-panel #signup-form {
    margin-bottom: 10px; }
  #signup-panel #login-row {
    color: #777;
    text-align: center; }
